/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf");
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
	/*
	 background: url("../img/backgrounds/blue-sky.jpg");
     background-repeat: no-repeat;
     background-size: auto;
	*/
	background: #000;
	color: #fff;
	
    font-family: "Lato";
    height:100%;
    margin:0;
    padding:0;
    width:100%;
	text-align: justify;
	font-size: 1.0em;
	
	/*required for IOS*/
	padding-top: constant(safe-area-inset-top); 
	padding-top: env(safe-area-inset-top);
	/*end required for IOS*/
}

i.red{
	color: #FF0000;
}
i.blue{
	color: #0000FF;
}
i.yellow{
	color: #FFFF00;
}
i.white{
	color: #FFFFFF;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 9/16) {
	body {
	    
		font-size: 0.9em;
		
	}
}

.video-container {
	position: relative;
	width:100%;
	height:100%;
	min-height:100vh;
	overflow: hidden;
}

.video-background {
	position: absolute;
	width:100%;
	height:100%;
	min-height:100vh;
	
	top:0;
	left:0;
	z-index:-1;
}

video{
	width:100%;
	height:100%;
}
video.cover{
	-webkit-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    -ms-object-fit: cover;
	object-fit: cover;
}

.video-foreground {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	left:0;
}

.spacer{
	height: 3.3em;
}

/* Portrait layout (default) */
.app {
	
}

/*HOME*/

div.padded{
	width: 95%;
	margin: auto;
}

input[type=range].climappslider {
  -webkit-appearance: none;
  margin: 2em 0;
  width: 100%;
  pointer-events: none;	
}
input[type=range].climappslider:focus, input[type=range].perceptionslider:focus{
  outline: none;
}
input[type=range].climappslider::-webkit-slider-runnable-track{
    width: 100%;
    height: 2em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #fff;
	background: linear-gradient(to right, rgb(0,0,180),rgb(0,100,255),rgb(0,255,255), rgb(0,180,0), rgb(255, 255,0),rgb(255,165,0), rgb(180,0,0) );
}
input[type=range].climappslider::-webkit-slider-thumb {
  border: 1px solid #000;
  height: 1em;
  width: 2.5em;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.5em; 
  margin-bottom: 0.5em; 
}
input[type=range].climappslider:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range].perceptionslider {
  -webkit-appearance: none;
  margin: 2em 0;
  width: 100%;
}
input[type=range].perceptionslider::-webkit-slider-runnable-track{
    width: 90%;
    height: 2em;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 5px;
    border: 1px solid #fff;
	margin:auto;
	background: linear-gradient(to right, rgb(0,0,180),rgb(0,100,255),rgb(0,255,255), rgb(0,180,0), rgb(255, 255,0),rgb(255,165,0), rgb(180,0,0) );
}
input[type=range].perceptionslider::-webkit-slider-thumb {

  border: 1px solid #000;
  height: 4em;
  width: 1em;

  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1em; 
  margin-bottom: -1em; 
}


div.fullwidth{
	width:100%;
}

a {
	color: #fff;
}

div{	
	/*border: 1px solid rgba(0, 0, 0, 0.5);/*layout helper*/
}
div.white{
	color: #fff;
}

div.hidden{
	display: none;
}
div.menufocus{
	background: rgba(255,255,255,0.1);
}
div.menuitem{
	text-align:center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
div.menuitem.border{
	border-left: 1px solid;
	border-right: 1px solid;
}

canvas{
	/*vertical-align:middle;*/
}

.panel, .panelthick {
	background: rgba(255,255,255,0.1);
	width: 100%;
	color: #fff;
	
    padding: 0.25em 0.5em; 
	margin: 0 auto;
	margin-bottom: 0.7em;
	/*border: 1px solid rgba(0, 0, 0, 0.5);
	/*box-shadow: 2px 2px rgba(0, 0, 0, 0.2);*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.paneloverlay {
	background: rgba(255,255,255,0.1);
    width: 80%;
    height: 80%;
	color: #fff;
	
    padding: 0.25em 0.5em; 
	margin: 0 auto;
	margin-bottom: 0.7em;
	/*border: 1px solid rgba(0, 0, 0, 0.5);
	/*box-shadow: 2px 2px rgba(0, 0, 0, 0.2);*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


.flexbox,.flexbox-4, .flexbox-5, .flexbox-2, .flexbox-3{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}

.flexbox{
	margin: auto;
}
.flexbox-2 div.center{
	margin: auto;
}

.flexbox-2 div.even.last{
	margin-bottom: 0.25em;
}
.flexbox-2 div.even{
	margin: auto;
	flex-basis:50%;
}
.flexbox-2 div{
	border: 0px solid;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
}

.flexbox-2 div.left {
	margin: auto;
	align-self: flex-start;
}
.flexbox-2 div.right {
	margin: auto;
	align-self: flex-end;
}

.flexbox-2 div.small {
	flex-basis: 20%;
}
.flexbox-2 div.wide{
	flex-basis: 70%;
}
.flexbox-2 div.border{
	border-left: 1px solid #fff;
}

.flexbox-3 div{
	margin: auto;
	flex-basis: 33%;
}

.flexbox-3 div.left {
	margin: auto;
	align-self: flex-start;
}
.flexbox-3 div.right {
	margin: auto;
	align-self: flex-end;
}

.flexbox-4 div{
	margin: auto;
	white-space: normal; 
	overflow: auto;
	text-overflow: ellipsis;
	flex-basis: 24%;
    text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.flexbox-4 div.border{
	border-left: 1px solid #fff;
}

.flexbox-5 div{
	margin: auto;
	flex-basis: 18%;
    text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.flexbox-5 div.border{
	border-left: 1px solid rgba(200, 200, 200, 0.8);
}

.flexbox-2 div.button{
	margin:auto;
	color: #000;
	background: #ffffff;
	border-radius: 0.2em;
	padding:0.25em;
	text-align:center;
	border: 1px solid rgba(200, 200, 200, 0.8);
	box-shadow: 3px 3px rgba(155, 155, 155, 0.2);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.flexbox-5 div.selected{
    color: #ffffff;
    background: #7EBFE5; /* Old browsers */
}

div.infographic{
	background: #6EB7D3;
}

div.tooltip{
    background: rgba(120, 120, 120,0.8);
	color: rgba(255,255,255,1);
	border-radius: 0.1em;
	padding:0.25em;
	border: 1px solid rgba(80, 80, 80, 0.8);
	box-shadow: 3px 3px rgba(155, 155, 155, 0.2);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

p {
    /* commented out, this functionality should not be in root p. 
	margin-left: 0.5em;
    margin-right: 0.5em;*/
}


p.morelinespacing {
    line-height: 1.5em;
}

button p {
    margin: 0;
}

li.about{
	font-size: 0.7em;
}

p.label{
	font-size: 0.8em;
    font-weight: bold;
}

p.header{
	font-size: 1.2em;
    font-weight: bold;
}

p.caption, p.thermaltip{
	font-size: 0.8em;
	font-style: italic;
}

span.settings{
	font-size: 0.8em;
	font-style: italic;
}
span.score{
	font-size: 0.9em;
	font-weight: bold;
}
span.right{
	float: right;
}
span.left{
	float: left;
}

p.left{
	text-align:left;
}
p.center{
	text-align: center;
}
p.right{
	text-align:right;
}

p.small{
	font-size:0.7em;
}

img{
	width:100%;
}
img.small{
	width:50%;
	margin:auto;
}

#dashboard_content {
    /*align-content: flex-start;*/
}

#dashboard_forecast{
	padding: 0.5em;
	color: #fff;
	border-top: solid 1px rgba(204, 204, 204, 0.3);
	
}

#circle_gauge_color {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

/* Settings related */

.panel.top {
    margin-top: 4em;
} 

.panel.settings div {
    margin-bottom: 0.5em;
	border-bottom: solid 1px rgba(204, 204, 204, 0.3);
}

.panel.settings_other div {
	border-bottom: solid 1px rgba(204, 204, 204, 0.3);
}

.panel.settings div.inlineitems.last,
.panel.settings div.last, 
.panel.settings div.map.last,
.panel.settings_other div.last, 
.panel.settings div.inputcontainer.last,
.panel.settings div.button.last,
.panel div.button
 {
    border-bottom: hidden;
}

div.inlineitems.line .totheright,
div.panel.settings div.input_section.last {
    margin-bottom: 0.5em;
}

/* BEGIN navigation bar style*/
.navigation {
  position: fixed;
  bottom: 0;
  width:100%;
  margin: 0; 
  background: rgba(255,255,255,1);  
  /*background: #7EBFE5; /* Old browsers */
  /*background: -moz-linear-gradient(top, #52A5D5 0%, #A1D4F2 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, #52A5D5 0%,#A1D4F2 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, #52A5D5 0%,#A1D4F2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  z-index: 1;
  
}

.navigation div{
	color: #000;
	display: border-box;
	margin: auto;
}
.navigation i{
    vertical-align: middle; /* | top | bottom */
    margin-right: 0.25em;
}

.navigation_back_custom,
.navigation_back_settings, 
.navigation_back_dashboard   {
	color:#fff;
	padding-left:0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.3);  
    margin: 0em;
	z-index: 1;
}


/* END navigation bar style */

/* ONBOARDING */
.onboarding div{
	margin: auto;
    width: 80%;
    margin: auto;	
    margin-bottom: 0.5em;
	color: #000;
	background: #ffffff;
	border-radius: 0.2em;
	padding:0.25em;
	text-align:center;
	border: 1px solid rgba(200, 200, 200, 0.8);
	box-shadow: 3px 3px rgba(155, 155, 155, 0.2);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	
}

.onboarding i{
    vertical-align: middle; /* | top | bottom */
}


#onboarding_settings, 
#onboarding_dashboard {
    font-size: 1.1em;
}

#onboarding_welcome {
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}


/* END onboarding */

.gallery{
	width: 100%;
	height: auto;
	margin: auto;
	display: block;
	white-space: nowrap;
    overflow-x: scroll;
	overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.gallery div{
	width: 30%;
	height: 15vh;
	display: inline-block;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	text-align:center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.gallery div p{
	font-size: 0.9em;
	/**/
}

/* Google Maps Styling */
#map {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

#location_footer {
    margin: 0.5em;
    position: relative;
    display: inline-block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*
//thermal colors also in knowledgebase.gauge.higlights, keep consistent
*/
.gallery .verycold{
	color: rgba(0,0,180,.9);
}
.gallery .cold{
	color: rgba(0,100,255,.9);
}
.gallery .cool{
	color: rgba(0,180,180,.9);
}
.gallery .neutral{
	color: rgba(0,180,0,.9);
}
.gallery .warm{
	color: rgba(180,180,0,.9);
}
.gallery .hot{
	color: rgba(255,165,0,.9);
}
.gallery .veryhot{
	color: rgba(180,0,0,.9);
}
.gallery div.focus{
	font-weight: bold;
	border: 2px solid rgba(250, 215, 0, 0.7);
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

/* -----------------------------------
 * Feedback styling
 * ----------------------------------- */
.feedbackpanel{
    
	width: 100%;
    margin: 2em auto;
}

p.strongtext {
    text-align: center;
	font-size: 1em;
    font-weight: bold;
    margin:0;
    margin-bottom: 1em;
}

p.strongtext.middle {
    padding-top: 1em;
    border-top: 1px solid rgba(200, 200, 200, 0.5);
}

p.rating_text {
    text-align: center;
	font-size: 1em;
    font-style: italic;
}

/* Rating - https://jsfiddle.net/leaverou/CGP87/ https://codepen.io/jamesbarnett/pen/vlpkh?editors=1100 */

.rating {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row-reverse wrap;
    justify-content: center;
}

.rating:not(:checked) > label:before {
	font-size: 2em;
    font-family: "Font Awesome 5 Free";
    content: "\f111";
}

.rating > input { display: none; } 
.rating > label:before { 
	font-size: 2em;
    font-family: "Font Awesome 5 Free";
    content: "\f111";
  }
  
.rating > label { 
    color: rgba(192, 192, 192, 1); 
    float: right; 
  }

/***** CSS Magic to Highlight Stars on Hover *****/
  
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFD700;  } 

div.inputcontainer{
	text-align:center;
}
#feedback_text{
    width: 80%;
    font-size: 1em;
}

div.inputcontainer div.button {
    width: 80%;
    margin: auto;	
    margin-bottom: 0.5em;
	color: #000;
	background: #ffffff;
	border-radius: 0.2em;
	padding:0.25em;
	text-align:center;
	border: 1px solid rgba(200, 200, 200, 0.8);
	box-shadow: 3px 3px rgba(155, 155, 155, 0.2);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}


/* Notification switch and unit selector */
/* box around the slider */
.select_unit.totheright,
.totheright {
    text-align: right;
}

div.inlineitems p,
div.select_unit {
    width:48%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

div.select_unit {
    margin-bottom: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    text-align: right;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
      background-color: #7EBFE5;
    }
  
    input:focus + .slider {
        box-shadow: 0 0 1px #7EBFE5;
  }
  
  input:checked + .slider:before {
      -webkit-transform: translateX(28px);
      -ms-transform: translateX(28px);
      transform: translateX(28px);
    }
    
  /* Styling of unit of measurement seletor */
  #select_unit {
    box-shadow: none;
    border: none;
    background: #ccc; 
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 100%;
    border-radius: 30px;
  }
 
 /* Rounded sliders */
 .slider.round {
    border-radius: 30px;
}
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Slider for feedback gauge (inspired by: https://www.w3schools.com/howto/howto_js_rangeslider.asp) */

div.feedbackgauge {
    margin-top: 1em;
    width:100%;
}

div.feedbackgauge canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-bottom: 0.5em;
}

/* The slider itself */
  .rangeslider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; 
    height: 10px; /* Height of slider bar */
    background: #fff; /* Bar color */
    outline: none; /* Remove outline */
    opacity: 1; 
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Handle width */
    height: 25px; /* Handle height */
    background: #FFF; /* Handle color */
    border-radius: 30px;
  }
  
  .rangeslider::-moz-range-thumb {
    width: 25px; /* Handle width */
    height: 25px; /* Handle height */
    background: #FFF; /* Handle color */
  }
  
